@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600&display=swap');

.articles {
  width: 75%;
  margin: 0 auto 30px;
  font-family: 'Roboto';

  .g-3 {
      margin-bottom: 50px;
  }

  .article-title:hover {
      cursor: pointer;
      text-decoration: underline;
  }
  &-title {
  font-size: 36px;
  color: purple;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  }
  &-search {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;
      color: purple;

      &-item {
          width: 20%;
      }
  }

  &-pagination {
      display: flex;
      width: fit-content;
      margin: 0 auto;
      border: 1px solid purple;
      border-radius: 5px;
      justify-content: center;
      color: purple;

      &-num {
          width: 55px;
          text-align: center;
          padding: 10px 10px;
          border-left: 1px solid purple;
          cursor: pointer;
      }

      &-num:first-of-type {
          border-left: 1px solid transparent;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
      }

      &-num:last-of-type {
          border-right: 1px solid transparent;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
      }

      &-num.current-page {
          cursor: auto;
          pointer-events: none;
      }

      &-num:hover {
          text-decoration: underline;
      }

      .current-page {
          color: white;
          font-weight: 700;
          background-color: purple;
      }
  }

  &-selected {
      width: 50%;
      margin: 0 auto;
      color: purple;
      text-align: center;
      font-family: 'Roboto';
      
      &-title { 
          font-size: 30px;
          margin-bottom: 10px;
          
      }
      
      &-img {
          display: block;
          align-items: center;
          width: 100%;
          height: 100%;
          margin-bottom: 10px;
          border-radius: 10px;
          
      }

      &-date {
          font-size: 14px;
          color: grey;
          margin: 10px 0;
          font-weight: 100;
      }

      &-text {
          font-size: 18px;
          font-weight: 400;
          line-height: 36px;
          text-align: justify;
          margin: 0;
          text-decoration: none;
      }
  }
}

