@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600&display=swap');

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid purple;
  align-items: center;
  padding: 0 10px;
  font-family: 'Roboto';
  margin-bottom: 30px;
}

